body {
  background: #d4eed3;
}

.App {
  text-align: center;
}

.cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}

.player-div {
  margin: 2%;
  width: 20%;
  border: 5px outset #016d0f;
  box-shadow: 7px 10px 10px black;
}

.dark-mode {
  background: #0c130c;
  color: #ffffec;
}

.dark-mode .player-div {
  border: 5px outset #00da0b;
  box-shadow: 7px 10px 10px grey;
}